
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

body {
  background-color: rgb(247, 206, 129);
 }
  .appIcon{
    width: 20rem;
    margin-top: -200px;
    margin-bottom: -200px;
  }